.pattern-principale-header{
    background-color: #4ea1ff;
    height: 100px;
    background-image: url(../img/pattern.png);
    background-repeat: repeat; 
    background-blend-mode: normal;
    background-size: 400px;
    margin-left: 0;
}
.logo-thebooleaner{
    background-image: url(../img/logo.svg);
    width: 250px;
    background-repeat: no-repeat;
    margin-left: 6%;
    background-position-y: center;
    padding-top: 2%;
}

.titolo-principale{
text-decoration-color: red;
    text-align: left;
    margin-block: 10px 0px;
    
}
.autore{
    color: #727171;
    font-weight: bold;
    font-size: 17px;
    margin-block: 5px 0px;
}
.font-coloreblu{
    color: #63b6d5;
}
.data {
  font-size: 13px;
  color: #727171; 
}
ul{
    text-align: left;
    padding: 0%;
    margin-left: 20px;
}
table{
    border-collapse: collapse;
}
th{
    background-color: #25a6df;
    width: 16000px;
    height: 20%;
    color: white;
    border-collapse: collapse;
    text-align: left;
    
}
    
    
.riga1{
    background-color: #b2e6f3;
    color:black
}
h2{
    text-align: left;
}